@model SBlogA.Areas.Admin.ViewModels.PostsIndex

<h1>Posts</h1>


<div class="btn-toolbar">
    <div class="btn-group">
        <a href="@Url.Action("New")" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-plus"></i>Create Post</a>
    </div>

    <div class="btn-group pull-right">
        @if (Model.Posts.HasPreviousPage)
        {
            <a href="@Url.Action("index",new { page=Model.Posts.PreviousPage})" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-chevron-left"></i>Previous Page</a>
        }
        else
        {
            <a href="#" class="btn btn-default disabled btn-sm"><i class="glyphicon glyphicon-chevron-left "></i>Previous Page</a>
        }

        @if (Model.Posts.HasNextPage)
        {
            <a href="@Url.Action("index",new { page=Model.Posts.NextPage})" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-chevron-right"></i>Next Page</a>
        }
        else
        {
            <a href="#" class="btn btn-default disabled btn-sm"><i class="glyphicon glyphicon-chevron-right "></i>Next Page</a>
        }

    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Content</th>
                <th>Author</th>
                <th>Tags</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var post in Model.Posts)
            {
                var cls = "";

                if (post.IsDeleted)
                {
                    cls = "danger";
                }

            <tr class="@cls">
                <td>@post.Id</td>
                <td>@post.Title</td>
                <td>@Html.Raw(post.Content)</td>
                <td>@post.User.Username</td>
                <td>@string.Join(",", post.Tags.Select(p => p.Name))</td>
                <td>@post.CreatedAt</td>
                <td>
                    @if (!post.IsDeleted)
                    {
                        <div class="btn-group btn-group-xs">
                            <a href="@Url.Action("Edit",new { post.Id})" class="btn btn-primary"><i class="glyphicon  glyphicon-edit"></i>Edit</a>
                            <a href="@Url.Action("Trash",new { post.Id})" class="btn btn-danger" data-post="Are you sure you want to trash this post?">
                                <i class="glyphicon glyphicon-remove"></i>Trash
                            </a>

                            <a href="@Url.Action("Delete",new { post.Id})" class="btn btn-danger" data-post="Are you sure you want to delete this post FOREVER?">
                                <i class="glyphicon glyphicon-remove"></i>Delete
                            </a>

                        </div>
                    }
                    else
                    {
                        <a href="@Url.Action("Restore",new { post.Id})" class="btn btn-xs btn-success" data-post="">
                            <i class="glyphicon glyphicon-plus-sign"></i> Restore
                        </a>
                    }
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

